<h2>Exchange or Sell Car</h2>
<div>
    <form #form="ngForm" (ngSubmit)="exchangeCar()">
        <label for="id">Id</label>
        <input type="text" id="id" name="id" readonly
        [(ngModel)]="carDetails.id">

        <label for="brand">Brand</label>
        <input type="text" id="brand" name="brand"
        [(ngModel)]="carDetails.brand">

        <label for="model">Model</label>
        <input type="text" id="model" name="model"
        [(ngModel)]="carDetails.model">

        <label for="year">Year</label>
        <input type="number" id="year" name="year"
        [(ngModel)]="carDetails.year">

        <label for="isNew">Is it new?</label>
        <select id="isNew" name="isNew"
        [(ngModel)]="carDetails.isNew">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>

        <label for="price">Price $USD</label>
        <input type="number" id="price" name="price"
        [(ngModel)]="carDetails.price">

        <input type="submit" value="Exchange Car">
        <input type="button" value="Sell Car" (click)="sellCar(carDetails.id)">
    </form>
</div>
